@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root {
  --body-bg: #D9CCD8;
  --body-color: #272225;
  --color: #6F74C0;
  --card-bg: #F2F0F0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #272225;
    --body-color: #F2F0F0;
    --color: #D9CCD8;
    --card-bg: #6F74C0;
  }
}


body {
  color:var(--body-color) ;
  background-color: var(--body-bg);
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

h1, h2 {
  color: var(--color);
  font-weight: 700;
}

p {
  font-weight: 300;
  margin-bottom: 32px;
}
.container {
  width: 800px;
  margin: 0 auto;
}

.card {
  background-color: var(--card-bg);
  box-shadow: 3px 3px 3px #27222553;
  margin: 32px 0;
  padding: 40px 24px;
  border-radius: 3px;
}

.avatar {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
}

.btn_bio{
  padding: 16px 24px;
  margin: 0 32px;
  background-color: var(--color);
  color: var(--card-bg);
  text-decoration: none;
  border-radius: 3px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline > li > a {
  color: var(--color);
  padding: 8px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li > a:hover {
  color: var(--card-bg);
  background-color: var(--color);
  border-radius: 4px;
  transition: 0.5s;

}

.btn_bio:hover {
  color: var(--color);
  background-color: var(--card-bg);
  border: 2px solid var(--color);
  border-radius: 4px;
  transition: 0.5s;
}

.top-annoce {
  background-color: var(--color);
  color: var(--card-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.audio {
  position: fixed;
  bottom: 0;
  right: 0;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
